EE21S055_Tutorial-5.zip
PA1/PA1_EE21S055.zip
PA1/PA1_EE21S055/PythonScratchModels/PA1_EE21S055_ReLU.ipynb
PA1/PA1_EE21S055/PythonScratchModels/PA1_EE21S055_ReLU.pdf
PA1/PA1_EE21S055/PythonScratchModels/PA1_EE21S055_ReLU_Regularization.ipynb
PA1/PA1_EE21S055/PythonScratchModels/PA1_EE21S055_ReLU_Regularization.pdf
PA1/PA1_EE21S055/PythonScratchModels/PA1_EE21S055_Tanh.ipynb
PA1/PA1_EE21S055/PythonScratchModels/PA1_EE21S055_Tanh.pdf
PA1/PA1_EE21S055/PythonScratchModels/PA1_EE21S055_sigmoid.ipynb
PA1/PA1_EE21S055/PythonScratchModels/PA1_EE21S055_sigmoid.pdf
PA1/PA1_EE21S055/Pytorch Models/PA1_ReLu_Pytorch.pdf
PA1/PA1_EE21S055/Pytorch Models/PA1_sigmoid.pdf
PA1/PA1_EE21S055/Pytorch Models/PA1_tanh.pdf
PA1/PA1_EE21S055/ReportPA1_final.pdf
PA1/PA1_EE21S055/Tree_structure.txt
PA1/PA1_EE21S055_ReLU.pdf
PA1/PA1_EE21S055_ReLU_Regularization.pdf
PA1/PA1_EE21S055_Tanh.pdf
PA1/PA1_EE21S055_sigmoid.pdf
PA1/PyTorch_Models/PA1_ReLu_Pytorch.ipynb
PA1/PyTorch_Models/PA1_ReLu_Pytorch.pdf
PA1/PyTorch_Models/PA1_sigmoid.ipynb
PA1/PyTorch_Models/PA1_sigmoid.pdf
PA1/PyTorch_Models/PA1_tanh.ipynb
PA1/PyTorch_Models/PA1_tanh.pdf
PA1/ReportPA1_final.html
PA1/ReportPA1_final.ipynb
PA1/ReportPA1_final.pdf
PA1/SS/Screenshot from 2022-08-27 12-09-07.png
PA1/SS/Screenshot from 2022-08-27 12-09-16.png
PA1/SS/Screenshot from 2022-08-27 12-09-26.png
PA1/SS/Screenshot from 2022-08-27 12-09-32.png
PA1/SS/Screenshot from 2022-08-27 12-15-52sigmoid.png
PA1/SS/Screenshot from 2022-08-27 12-16-02sigmoid.png
PA1/SS/Screenshot from 2022-08-27 12-16-09sigmoid.png
PA1/SS/Screenshot from 2022-08-27 12-16-15sigmoid.png
PA1/SS/Screenshot from 2022-08-27 12-22-00tanh.png
PA1/SS/Screenshot from 2022-08-27 12-22-09tanh.png
PA1/SS/Screenshot from 2022-08-27 12-22-14tanh.png
PA1/SS/Screenshot from 2022-08-27 12-24-48tanh.png
PA1/SS/Screenshot from 2022-08-27 12-54-02.png
PA1/SS/Screenshot from 2022-08-27 12-54-08.png
PA1/SS/Screenshot from 2022-08-27 12-54-15.png
PA1/SS/Screenshot from 2022-08-27 12-54-20.png
PA1/SS/Screenshot from 2022-08-27 12-56-07.png
PA1/SS/Screenshot from 2022-08-27 12-58-15.png
PA1/SS/Screenshot from 2022-08-27 12-59-44.png
PA1/SS/nn.svg
Tutorial-3/.ipynb_checkpoints/Copy_of_Task_01_Regularization_Output-checkpoint.ipynb
Tutorial-3/NN.png
Tutorial-3/Task_01_Regularization.ipynb
Tutorial-3/Task_02_Optimization_Algorithms.ipynb
Tutorial-3/data/MNIST/raw/t10k-images-idx3-ubyte
Tutorial-3/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Tutorial-3/data/MNIST/raw/t10k-labels-idx1-ubyte
Tutorial-3/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Tutorial-3/data/MNIST/raw/train-images-idx3-ubyte
Tutorial-3/data/MNIST/raw/train-images-idx3-ubyte.gz
Tutorial-3/data/MNIST/raw/train-labels-idx1-ubyte
Tutorial-3/data/MNIST/raw/train-labels-idx1-ubyte.gz
Tutorial-3/readme.md
